
.middle-container {
    margin: 100px 0;
}
h1 {
    margin-top: 50px auto 0 auto;
    margin-block-end: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a {
    color: #11999E;
    text-decoration: none;
    display: inline-block;
    margin-right: 40px;
    margin-top:10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
a:hover {
    color: #EAF6F6;
}
.ending {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}
body {
    font-family: 'Merriweather', serif;
    margin: 0px;
    text-align: center;
}
p {
    color: #40514E;
}
.topcontainer {
    position: relative;
    padding-top: 100px;
    background-color: #EAF6F6;
}
.topcloud {
    position: absolute;
    top:50px;
    right: 300px;
}
.bottomcloud {
    position: absolute;
    left: 300px;
}
.pro{
    text-decoration: underline;
}
.programmer {
    font-weight: normal;
}
.profileimg {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.coding {
    border-radius: 50%;
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.appdev {
    border-radius: 50%;
    height: 25%;
    width: 25%;
    float: right;
    margin-left: 30px;
}
.webdev {
    border-radius: 50%;
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-row {
    width:50%;
    display: inline-block;
    margin:50px auto 50px auto;
    text-align: left;
}
.skill-row p {
    line-height: 2;
}
.inital {
    width: 30%;
    line-height: 2;
    display: inline-block;
}
hr {
    border-style: none;
    border-top-style: dotted;
    width: 4%;
    border-width: 6px;
    border-color: #EAF6F6;
    margin-top: 100px;
    margin-bottom: 100px;
}
.lets {
    width: 40%;
    margin: 40px auto 60px auto;
}

 .bottom-container {
    background-color: #66BFBF;
    padding: 50px 0px 20px;
 }
 .BUTTON_ENI {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_LQV:hover {
    border: solid #FFFFFF 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }